<%= provide(:title, 'Links') %>
<h1>Public links</h1>

<div class="paginate">
  <%= page_entries_info(@links) %>
  <%= will_paginate @links, class: 'pagination pagination-centered' %>
    <%= render @links %>
  <%= will_paginate @links, class: 'pagination pagination-centered' %>
</div>