<div class="well">
<%= form_for @link, url: linkages_path, method: :post,  remote: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label       :uri, 'Link' %>
  <%= f.text_field  :uri %>

  <%= f.label       :content, 'Text of link' %>
  <%= f.text_field  :content %>

  <%= f.submit "Add Link", class: 'btn btn-small btn-primary' %>

<%  end %>
</div>